<% if (site.categories.length){ %>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footer-categories">
    <h2><%- __('categories') %></h2>
    <p>
        <% site.categories.sort('posts.length').limit(4).each(function(cat){ %>
        <a class="footer-post" href="<%- url_for(cat.path) %>"><%= cat.name %></a>
        <% }) %>
    </p>
</div>
<% } %>